# Copyright (c) 2022 UNGODLY DESIGN
# SPDX-License-Identifier: MIT

if BOARD_GMMK_PRO_BT

config ZMK_KEYBOARD_NAME
	default "GMMK PRO BT"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_GMMK_PRO_BT
